In [1]:
if True:
    print('True it is!')

True it is!

In [2]:
if 3>2:
    print('Good')

Good

In [7]:
hungry = True

if hungry:
    print('Feed me!')
else:
    print("Not hungry! thanks!")

Feed me!

In [16]:
loc = 'Auto Shop'

if loc == 'Auto Shop':
    print('CARS ARE COOL')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('welcome to the store!')
else:
    print('I do not know much')

CARS ARE COOL

In [19]:
name = 'Matt'

if name == 'Frankie':
    print("Hello Frankie")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What's your name?")

What's your name?

In [20]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [28]:
for num in mylist:
    print(f'{num} hello')

1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello
10 hello

In [31]:
for num in mylist:
    #check for even
    if num%2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [37]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)
print(list_sum)

1
3
6
10
15
21
28
36
45
55
55

In [40]:
for _ in 'Hello World':
    print('Bello!')

Bello!
Bello!
Bello!
Bello!
Bello!
Bello!
Bello!
Bello!
Bello!
Bello!
Bello!

In [42]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [43]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [44]:
len(mylist)

4

In [48]:
for a,b in mylist:
    #print(a)
    print(b)

2
4
6
8

In [49]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [54]:
for a,b,c in mylist:
    print(b)

2
6
9

In [59]:
d = {'k1':1,'k2':2,'k3':3}

for value in d.values():
    print(value)

1
2
3

In [64]:
d['k4'] = 4

In [65]:
d

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4}

In [3]:
x = 60

while x < 5:
    print(f'Current value is {x}')
    x+=1
else:
    print('X is not less than 5 dude!')

X is not less than 5 dude!

In [8]:
for item in [1,2,3]:
    #comment: pass is a placeholder!
    pass

print('End of my script')

End of my script

In [9]:
mystring = 'Sammy'

In [14]:
for letter in mystring:
    if letter == 'a':
        break
    
    print(letter)

S

In [ ]:
x=0

while x<5:
    if x == 2:
        continue
    print(x)
    x += 1

0
1

In [17]:
mylist = [1,2,3]

In [20]:
for num in range(3,10,2):
    print(num)
    
#Range is a generator!

3
5
7
9

In [22]:
list(range(3,10,2))

[3, 5, 7, 9]

In [26]:
index_count = 0

for letter in "abcde":
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [36]:
index_count = 0
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [43]:
mylist1 = [1,2,3,53]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [44]:
zip(mylist1,mylist2)

In [45]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [48]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [49]:
'x' in [1,2,3]

False

In [50]:
'x' in ['x','y','z']

True

In [51]:
'z' in 'zeeman'

True

In [52]:
'mykey' in {'mykey':9273}

True

In [53]:
d = {'mykey':9273}

9273 in d.values()

True

In [54]:
mylist = [10,20,30,40,100]

In [55]:
min(mylist)

10

In [56]:
max(mylist)

100

In [57]:
from random import shuffle

In [58]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [59]:
shuffle(mylist)

In [60]:
mylist

[9, 2, 1, 8, 5, 10, 4, 3, 7, 6]

In [61]:
shuffle(mylist)

In [62]:
mylist

[9, 4, 7, 10, 3, 1, 6, 5, 8, 2]

In [63]:
from random import randint

In [64]:
randint(0,100)

64

In [66]:
randint(0,100)

95

In [67]:
mynum = randint(9,2093)

In [ ]:
mynum

In [81]:
result = input("Yo what's your name?")

Yo what's your name?209

In [82]:
int(result)

209

In [1]:
x=2

In [2]:
mystring = 'hello'

In [4]:
mylist = []

for letter in mystring:
    mylist.append(letter)
    
print(mylist)

['h', 'e', 'l', 'l', 'o']

In [5]:
mylist = [letter for letter in mystring]

In [6]:
mylist

['h', 'e', 'l', 'l', 'o']

In [9]:
mylist = [toop for toop in 'word']

In [10]:
mylist

['w', 'o', 'r', 'd']

In [11]:
mylist = [x for x in range(0,11)]

In [12]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
mylist = [x**2 for x in range(0,11)]

In [14]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [18]:
mylist

[0, 4, 16, 36, 64, 100]

In [33]:
celcius = [0,10,20,26.85,61]

fahrenheit = [(9/5)*temp+32 for temp in celcius]

In [34]:
fahrenheit

[32.0, 50.0, 68.0, 80.33000000000001, 141.8]

In [23]:
fahrenheit = []
celcius = [0,10,20,34,61]

for temp in celcius:
    fahrenheit.append((9/5)*temp+32)
    

fahrenheit

[32.0, 50.0, 68.0, 93.2, 141.8]

In [30]:
Kelvin = [0.1,4,32,77,120,230,300]

fahrenheit = [(9/5)*(K-273)+32 for K in Kelvin]

fahrenheit

[-459.21999999999997,
 -452.2,
 -401.8,
 -320.8,
 -243.40000000000003,
 -45.400000000000006,
 80.6]

In [35]:
results = [x if x%2==0 else 'ODD' for x in range(0,11) ]

In [36]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [40]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)

In [41]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [42]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [43]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [44]:
string_1 = "While this is right I am wrong"

string_1.split()

['While', 'this', 'is', 'right', 'I', 'am', 'wrong']