In [1]:
mystring = 'Hello World!'

In [2]:
mystring

'Hello World!'

In [3]:
mystring[0]

'H'

In [4]:
mystring[8]

'r'

In [7]:
mystring[-1]

'!'

In [8]:
mystring = 'abcdefghijk'

In [9]:
mystring

'abcdefghijk'

In [10]:
mystring[2:]

'cdefghijk'

In [11]:
mystring[:3]

'abc'

In [12]:
mystring[3:6]

'def'

In [13]:
mystring[1:3]

'bc'

In [14]:
mystring[::]

'abcdefghijk'

In [18]:
mystring[2:7:2]

'ceg'

In [20]:
mystring[::-1] #good trick! :)

'kjihgfedcba'

In [22]:
print("Happy \t Holidays")

Happy 	 Holidays

In [24]:
print("Fatty\tPingity")

Fatty	Pingity

In [25]:
name = 'Sam'

In [27]:
#name[0] = 'P'

In [30]:
last_letters = name[1:]

In [31]:
'P'+last_letters

'Pam'

In [32]:
x = "Hello World"

In [40]:
x = x + "It is beautiful outside"

In [42]:
x

'Hello WorldIt is beautiful outsideIt is beautiful outsideIt is beautiful outside'

In [43]:
letter = "z"

In [44]:
letter*10

'zzzzzzzzzz'

In [45]:
2+3

5

In [46]:
'2'+'3'

'23'

In [50]:
x = "Hello World"

In [52]:
x.upper()

'HELLO WORLD'

In [53]:
x.lower()

'hello world'

In [54]:
x.split()

['Hello', 'World']

In [55]:
x = 'Hi this is a string'

In [58]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [59]:
print('hello')

hello

In [61]:
print("This is a string {}".format("inserted"))

This is a string inserted

In [67]:
print("The {0} {1} {0}".format('fox','brown','quick'))

The fox brown fox

In [71]:
print("The {b} {b} {q}".format(f='fox',b='brown',q='quick'))

The brown brown quick

In [87]:
result = 104.12345

In [88]:
print("Thr result was {r:10.5}".format(r=result))

Thr result was     104.12

In [89]:
name = 'Kasra'

In [90]:
print(f"Hello his name is {name}")

Hello his name is Kasra

In [91]:
name = "sam"
age = 3

In [92]:
print(f'{name} is {age} years old')

sam is 3 years old

In [130]:
print('{f:8}  |{q:10}'.format(f="Fruit", q="Qunatity"))
print('{0:8}  | {1:9}'.format("BananaPi", 1))
print('{0:8}  | {1:9}'.format("Orange", 2))

Fruit     |Qunatity
BananaPi  |         1
Orange    |         2

In [132]:
print('{0:<8}  | {1:^8} |  {2:>8}'.format('Left','Center','Right'))
print('{0:<8}  | {1:^8} |  {2:>8}'.format(123,23,43))

Left      |  Center  |     Right
123       |    23    |        43

In [133]:
print('{0:=<8}  | {1:.^8} |  {2:_>8}'.format('Left','Center','Right'))
print('{0:=<8}  | {1:.^8} |  {2:_>8}'.format(123,23,43))

Left====  | .Center. |  ___Right
123=====  | ...23... |  ______43

In [135]:
print("The total ratio of Pu231 to Pu233 in the universe is {0:12.3f}".format(0.2395862))

The total ratio of Pu231 to Pu233 in the universe is        0.240

In [152]:
name = "John"
print(f"This person's name is {name!r}")

This person's name is 'John'

In [164]:
x = 240.234582402
print(f"The unknown is equal to {x:{10}.{5}}")
print(f"The unknown is equal to {x:10.20f}")

The unknown is equal to     240.23
The unknown is equal to 240.23458240200000091136

In [161]:
print("The unknown is equal to: {0:10.3f}".format(x))

The unknown is equal to:    240.235

In [165]:
y = 23.54
print(f"our second unknown is equal to: {y:10.5f}")

our second unknown is equal to:   23.54000

In [1]:
my_list = [1,2,3]

In [2]:
my_list

[1, 2, 3]

In [3]:
my_list = ['STRING',100,20.3]

In [5]:
len(my_list)

3

In [6]:
mylist = ['one','two','three']

In [7]:
mylist[0]

'one'

In [8]:
mylist[1:]

['two', 'three']

In [9]:
another_list = ['four','five']

In [11]:
new_list = mylist + another_list

In [12]:
new_list

['one', 'two', 'three', 'four', 'five']

In [13]:
new_list[0] = 'ONE'

In [14]:
new_list

['ONE', 'two', 'three', 'four', 'five']

In [15]:
new_list.append('six')

In [16]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six']

In [17]:
new_list.append('seven')

In [18]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven']

In [19]:
new_list.pop()

'seven'

In [20]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six']

In [21]:
popped_item = new_list.pop()

In [22]:
popped_item

'six'

In [23]:
new_list.pop(0)

'ONE'

In [24]:
new_list

['two', 'three', 'four', 'five']

In [25]:
new_list.pop(-1)

'five'

In [26]:
new_list

['two', 'three', 'four']

In [27]:
new_list = ['a','e','x','b','c']
num_list = [4,1,98,23]

In [28]:
new_list.sort()

In [29]:
new_list

['a', 'b', 'c', 'e', 'x']

In [30]:
new_list.sort()
my_sorted_list = new_list

In [31]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [32]:
num_list.sort()

In [33]:
num_list

[1, 4, 23, 98]

In [34]:
num_list.reverse()

In [35]:
num_list

[98, 23, 4, 1]

In [36]:
None

In [37]:
y = None

In [38]:
list_1 = [[1,2],[3,4],5,6]

In [40]:
list_1[1]

[3, 4]

In [41]:
list_1[1][0]

3

In [42]:
my_dict = {'key1':'value1','key2':'value2'}

In [43]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [44]:
my_dict['key1']

'value1'

In [45]:
price_lookup = {'apple':2.99,'oranges':1.99, 'chocolate':5.32}

In [46]:
price_lookup

{'apple': 2.99, 'oranges': 1.99, 'chocolate': 5.32}

In [47]:
price_lookup['apple']

2.99

In [48]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [51]:
d['k2'][1]

1

In [52]:
d['k3']['insideKey']

100

In [53]:
d = {'key1':['a','b','c']}

In [54]:
d

{'key1': ['a', 'b', 'c']}

In [55]:
my_list = d['key1']

In [56]:
my_list

['a', 'b', 'c']

In [57]:
letter = my_list[2]

In [58]:
letter

'c'

In [59]:
letter.upper()

'C'

In [60]:
d['key1'][2].upper()

'C'

In [61]:
d = {'k1':100,'k2':200}

In [62]:
d

{'k1': 100, 'k2': 200}

In [63]:
d['k3'] = 300

In [64]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [65]:
d['k1'] = 'NEW VALUE'

In [67]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [68]:
d= {'k1': 100, 'k2': 200, 'k3': 300}

In [69]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [71]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [72]:
d.values()

dict_values([100, 200, 300])

In [73]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [74]:
t = (1,2,3)

In [75]:
my_list = [1,2,3]

In [76]:
type(t)

tuple

In [77]:
type(my_list)

list

In [78]:
t = ('one', 2)

In [79]:
t

('one', 2)

In [80]:
t[0]

'one'

In [81]:
t[-1]

2

In [82]:
t = ('a','a','b')

In [85]:
t.count('a')

2

In [86]:
t.index('a')

0

In [87]:
my_list[0] = 'NEW'

In [88]:
my_list

['NEW', 2, 3]

In [89]:
t[0]='NEW'

TypeError: 'tuple' object does not support item assignment

In [90]:
myset = set()

In [91]:
myset

set()

In [92]:
myset.add(1)

In [93]:
myset

{1}

In [94]:
myset.add(2)

In [95]:
myset

{1, 2}

In [96]:
myset.add(2)

In [97]:
myset

{1, 2}

In [107]:
mylist = [100,33,2,2,1]

In [108]:
set(mylist)

{1, 2, 33, 100}

In [109]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [110]:
True

True

In [111]:
False

False

In [112]:
type(False)

bool

In [113]:
1 > 2

False

In [115]:
1 == 1

True

In [116]:
b = None

In [117]:
type(b)

NoneType

In [1]:
%%writefile myfile.txt
Hello this is a txt file
this is the scond line
this is the third line

Writing myfile.txt

In [2]:
myfile = open('myfile.txt')

In [3]:
myfile = open('whoops')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops'

In [4]:
pwd

'/Users/kasra_portable/Desktop/Complete-Python-3-Bootcamp-master/00-Python Object and Data Structure Basics'

In [5]:
ls

00-Lecture practice.ipynb
01-Numbers.ipynb*
01-Variable Assignment.ipynb*
02-Strings.ipynb*
03-Print Formatting with Strings.ipynb*
04-Lists.ipynb*
05-Dictionaries.ipynb*
06-Tuples.ipynb*
07-Sets and Booleans.ipynb*
08-Files.ipynb*
09-Objects and Data Structures Assessment Test.ipynb*
10-Objects and Data Structures Assessment Test-Solution.ipynb*
myfile.txt
test.txt*

In [6]:
myfile = open('myfile.txt')

In [7]:
myfile.read()

'Hello this is a txt file\nthis is the scond line\nthis is the third line\n'

In [8]:
myfile.read()

''

In [9]:
myfile.seek(0)

0

In [10]:
myfile.read()

'Hello this is a txt file\nthis is the scond line\nthis is the third line\n'

In [11]:
myfile.seek(0)

0

In [12]:
content = myfile.read()

In [13]:
content

'Hello this is a txt file\nthis is the scond line\nthis is the third line\n'

In [14]:
myfile.seek(0)

0

In [15]:
myfile.readlines()

['Hello this is a txt file\n',
 'this is the scond line\n',
 'this is the third line\n']

In [16]:
pwd

'/Users/kasra_portable/Desktop/Complete-Python-3-Bootcamp-master/00-Python Object and Data Structure Basics'

In [17]:
myfile.close()

In [18]:
myfile = open('myfile.txt')

In [19]:
myfile.close()

In [20]:
with open('myfile.txt') as my_file:
    content = my_file.read()

In [21]:
content

'Hello this is a txt file\nthis is the scond line\nthis is the third line\n'

In [24]:
with open ('myfile.txt',mode = 'w') as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

In [23]:
contents

'Hello this is a txt file\nthis is the scond line\nthis is the third line\n'

In [33]:
%%writefile my_new_file.txt
ONE on FIRST
TWO on SECOND
THREE on THIRD

Overwriting my_new_file.txt

In [34]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE on FIRST
TWO on SECOND
THREE on THIRD

In [35]:
with open('my_new_file.txt',mode = 'a') as f:
    f.write('FOUR on FOURTH')

In [36]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE on FIRST
TWO on SECOND
THREE on THIRD
FOUR on FOURTH

In [37]:
with open('my_new_file.txt',mode = 'a') as f:
    f.write('\nFIVE on FIFTH')

In [38]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE on FIRST
TWO on SECOND
THREE on THIRD
FOUR on FOURTH
FIVE on FIFTH

In [39]:
with open('jnsfjdns.txt',mode = 'w') as f:
    f.write('I am great!!!')

In [41]:
with open('jnsfjdns.txt',mode = 'r') as f:
    print(f.read())

I am great!!!